@model Wavecell.Models.MessageViewModel
@{
    ViewBag.Title = "Message";
}


<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div>
                <h1>Send text message</h1>
            </div>
            @using (Html.BeginForm("Send", "Message", null, FormMethod.Post, new { role = "form", id = "messageForm" }))
            {
                @Html.AntiForgeryToken()
                if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
                {
                    <div class="alert alert-danger">
                        <a href="#" class="close" data-dismiss="alert">×</a>
                        <span class="help-block">       
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        </span>
                    </div>
                }

                if (Model.SavedSuccessfully)
                {
                    <div class="alert alert-success">
                        <a href="#" class="close" data-dismiss="alert">×</a>
                        <strong>Success!</strong> @Model.Status
                    </div>
                }
                <div class="list-group form-horizontal">
                    <div class="list-group-item">
                        <div class="form-group">
                            @Html.Label("From:", new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.Source, new { @class = "form-control", placeholder = "Number or Contact name", value = "" })
                                @Html.ValidationMessageFor(m => m.Source, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="form-group">
                            @Html.Label("To:", new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.Destination, new { @class = "form-control", placeholder = "Contact Number (ex. +65123456789 or 65123456789)", value = "" })
                                @Html.ValidationMessageFor(m => m.Destination, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="form-group">
                            @Html.Label("Message:", new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.TextAreaFor(m => m.Body, new { @class = "form-control", value = "" })
                                @Html.ValidationMessageFor(m => m.Body, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="form-group">
                            @Html.Label("Schedule Date/Time:", new { @class = "col-md-4 control-label" })
                            <div class="col-md-8">
                                <div class='input-group date' id='datetimepicker1'>
                                    @Html.TextBoxFor(m => m.Date, new { @class = "form-control" })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                                @Html.ValidationMessageFor(m => m.Date, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-sm-12 text-right">
                                <button id="sendNowBtn" class="btn btn-success" type="submit">Send</button>
                            </div>
                        </div>
                    </div>
                </div>

            }

        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

<script>

		$(function(){
			
			//$('#dp1').datepicker({
			//	format: 'mm-dd-yyyy'
			//});
		    //$(".date-picker").datepicker();
		    $('#datetimepicker1').datetimepicker();
		});
</script>

}
